@mixin height($height: 1) {
  height: percentage($height);
  max-height: percentage($height);
  min-height: percentage($height);
}

.idd-h-auto {
  height: auto;
}

.idd-h-view {
  height: 100vh;
}

.idd-h-1_20 {
  @include height(1/20);
}

.idd-h-1_12 {
  @include height(1/12);
}

.idd-h-1_10, .idd-h-2_20  {
  @include height(1/10);
}

.idd-h-1_8 {
  @include height(1/8);
}

.idd-h-3_20 {
  @include height(3/20);
}

.idd-h-1_6, .idd-h-2_12  {
  @include height(1/6);
}

.idd-h-1_5, .idd-h-2_10, .idd-h-4_20 {
  @include height(1/5);
}

.idd-h-1_4, .idd-h-2_8, .idd-h-3_12, .idd-h-5_20 {
  @include height(1/4);
}

.idd-h-3_10, .idd-h-6_20 {
  @include height(3/10);
}

.idd-h-1_3, .idd-h-2_6, .idd-h-4_12 {
  @include height(1/3);
}

.idd-h-7_20 {
  @include height(7/20);
}

.idd-h-3_8 {
  @include height(3/8);
}

.idd-h-2_5, .idd-h-4_10, .idd-h-8_20 {
  @include height(2/5);
}

.idd-h-5_12 {
  @include height(5/12);
}

.idd-h-9_20 {
  @include height(9/20);
}

.idd-h-1_2, .idd-h-2_4, .idd-h-3_6, .idd-h-4_8, .idd-h-5_10, .idd-h-6_12, .idd-h-10_20 {
  @include height(1/2);
}

.idd-h-11_20 {
  @include height(11/20);
}

.idd-h-7_12 {
  @include height(7/12);
}

.idd-h-3_5, .idd-h-6_10, .idd-h-12_20 {
  @include height(3/5);
}

.idd-h-5_8 {
  @include height(5/8);
}

.idd-h-13_20 {
  @include height(13/20);
}

.idd-h-2_3, .idd-h-4_6, .idd-h-8_12 {
  @include height(2/3);
}

.idd-h-7_10, .idd-h-14_20 {
  @include height(7/10);
}

.idd-h-3_4, .idd-h-6_8, .idd-h-9_12, .idd-h-15_20 {
  @include height(3/4);
}

.idd-h-4_5, .idd-h-8_10, .idd-h-16_20 {
  @include height(4/5);
}

.idd-h-5_6, .idd-h-10_12 {
  @include height(5/6);
}

.idd-h-17_20 {
  @include height(17/20);
}

.idd-h-7_8 {
  @include height(7/8);
}

.idd-h-9_10, .idd-h-18_20 {
  @include height(9/10);
}

.idd-h-11_12 {
  @include height(11/12);
}

.idd-h-19_20 {
  @include height(19/20);
}

.idd-h-1 {
  @include height();
}
