@mixin width($width: 100%) {
  width: $width;
  max-width: $width;
  min-width: $width;
}

.idd-w-auto {
  width: auto;
}

.idd-w-view {
  @include width(100vw);
}

.idd-w-1_20 {
  @include width(5%);
}

.idd-w-1_12 {
  @include width(8.333333%);
}

.idd-w-1_10, .idd-w-2_20  {
  @include width(10%);
}

.idd-w-1_8 {
  @include width(12.5%);
}

.idd-w-3_20 {
  @include width(15%);
}

.idd-w-1_6, .idd-w-2_12  {
  @include width(16.666666%);
}

.idd-w-1_5, .idd-w-2_10, .idd-w-4_20 {
  @include width(20%);
}

.idd-w-1_4, .idd-w-2_8, .idd-w-3_12, .idd-w-5_20 {
  @include width(25%);
}

.idd-w-3_10, .idd-w-6_20 {
  @include width(30%);
}

.idd-w-1_3, .idd-w-2_6, .idd-w-4_12 {
  @include width(33.333333%);
}

.idd-w-7_20 {
  @include width(35%);
}

.idd-w-3_8 {
  @include width(37.5%);
}

.idd-w-2_5, .idd-w-4_10, .idd-w-8_20 {
  @include width(40%);
}

.idd-w-5_12 {
  @include width(41.666666%);
}

.idd-w-9_20 {
  @include width(45%);
}

.idd-w-1_2, .idd-w-2_4, .idd-w-3_6, .idd-w-4_8, .idd-w-5_10, .idd-w-6_12, .idd-w-10_20 {
  @include width(50%);
}

.idd-w-11_20 {
  @include width(55%);
}

.idd-w-7_12 {
  @include width(58.333333%);
}

.idd-w-3_5, .idd-w-6_10, .idd-w-12_20 {
  @include width(60%);
}

.idd-w-5_8 {
  @include width(62.5%);
}

.idd-w-13_20 {
  @include width(65%);
}

.idd-w-2_3, .idd-w-4_6, .idd-w-8_12 {
  @include width(66.666666%);
}

.idd-w-7_10, .idd-w-14_20 {
  @include width(70%);
}

.idd-w-3_4, .idd-w-6_8, .idd-w-9_12, .idd-w-15_20 {
  @include width(75%);
}

.idd-w-4_5, .idd-w-8_10, .idd-w-16_20 {
  @include width(80%);
}

.idd-w-5_6, .idd-w-10_12 {
  @include width(83.333333%);
}

.idd-w-17_20 {
  @include width(85%);
}

.idd-w-7_8 {
  @include width(87.5%);
}

.idd-w-9_10, .idd-w-18_20 {
  @include width(90%);
}

.idd-w-11_12 {
  @include width(91.666666%);
}

.idd-w-19_20 {
  @include width(95%);
}

.idd-w-1 {
  @include width();
}
